.container {
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding */
}

.about-us-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

.about-us-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.about-us-description {
  font-size: 1em;
  color: #333;
  margin-bottom: 20px;
}

.small-images {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.small-images img {
  width: 100%;
  max-width: 650px;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-placeholder {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
}

.about-us-text {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .small-images {
    gap: 30px;
  }

  .about-us-title {
    font-size: 1.8em;
  }

  .about-us-description {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .about-us-title {
    font-size: 1.6em;
  }

  .about-us-description {
    font-size: 0.85em;
  }

  .small-images {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .about-us-title {
    font-size: 1.4em;
  }

  .about-us-description {
    font-size: 0.8em;
  }

  .small-images {
    gap: 10px;
  }
}